{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar">
    <a href="#" class="logo">
        <img src="https://img.icons8.com/?size=100&id=icaN75Fl2Ka2&format=png&color=000000" width="30" height="30" style="margin:-4px;" alt="Логотип">
    </a>
    <a href="/home_by_id/{{ session_id }}/{{ user_id }}">Главная</a>
    <a href="#">Личный кабинет</a>
</nav>
{% endblock %}

{% block header %}
<h1>Личный кабинет</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='styles_css/user_data_table_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='styles_css/user_data_dropdown_button_style.css') }}">

<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Дата рождения</th>
            {% if user_data.orders %}
            <th>Заказы</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user_data.name }}</td>
            <td>{{ user_data.email }}</td>
            <td><a href="/user_data_changing/{{ session_id }}/{{ user_id }}/password">Изменить или посмотреть пароль</a></td>
            <td>{{ user_data.birthdate }}</td>
            {% if user_data.orders %}
            <td><a href="/user_orders/{{ session_id }}/{{ user_id }}/">Изменить или посмотреть заказы</a></td>
            {% endif %}
        </tr>
    </tbody>
    <tfoot>
        <tr>
            {% if user_data.orders %}
            <td colspan="5">Личная информация</td>
            {% else %}
            <td colspan="4">Личная информация</td>
            {% endif %}
        </tr>
    </tfoot>
</table>

<div class="dropdown">
    <button class="dropbtn">Изменить данные</button>
    <div class="dropdown-content">
        <a href="/user_data_changing/{{ session_id }}/{{ user_id }}/name">Имя</a>
        <a href="/user_data_changing/{{ session_id }}/{{ user_id }}/email">Email</a>
        <a href="/user_data_changing/{{ session_id }}/{{ user_id }}/password">Пароль</a>
    </div>
</div>

<form action="/logout/{{ session_id }}/{{ user_id }}" method="post">
    <button type="submit" class="dropbtn">Выйти из аккаунта</button>
</form>

{% endblock %}