{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar">
    <a href="#" class="logo">
        <img src="https://img.icons8.com/?size=100&id=icaN75Fl2Ka2&format=png&color=000000" width="30" height="30" style="margin:-4px;" alt="Логотип">
    </a>
    {% if user_id %}
    <a href="/home_by_id/{{ session_id }}/{{ user_id }}/">Главная</a>
    <a href="/catalog/{{ session_id }}/{{ user_id }}/">Каталог</a>
    {% else %}
    <a href="/">Главная</a>
    <a href="/catalog/">Каталог</a>
    {% endif %}
    <a href="#">Подробнее о товаре</a>
</nav>
{% endblock %}

{% block header %}
<h1>Подробнее о товаре</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='styles_css/submit_button1_style.css') }}">

<figure>
    <img src="{{ product_by_id.img_path }}" alt="Фото товара" width="35%">
    <figcaption>
        <p>
            <strong>Модель:<br></strong>
            {{ product_by_id.name }}
        </p>
        <p>
            <strong>Описание:<br></strong>
            {{ product_by_id.description }}
        </p>
        <p>
            <strong>Цена:<br></strong>
            {{ product_by_id.price }}
        </p>
       {% if user_id %}
        <form action="/product_details/{{ session_id }}/{{ user_id }}/{{ product_id }}/" method="post">
            <p>
                <strong>Количество:<br></strong>
                <input name="product_amount" type="number" min="0" max="10" style="height: 30px; font-size: 16px;" required />
            </p>
            <br>
            <input type="submit" value="В корзину" />
        </form>
        {% else %}
        <form action="/reg_and_auth_page" method="get">
            <input type="submit" value="Личный кабинет" />
        </form>
        {% endif %}
    </figcaption>
</figure>
{% endblock %}